
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('/bee-cursor.png'), auto;
  background-image: url('/bg-planet-orange.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
